* {
    background-color: lightgray;
}
section {
    padding: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #666666 inset;
    height: auto;
    width: 400px;
}
h1, p, ol {
    padding: 5px;
    height: auto;
    width: 350px;
    list-style: inside;
}